h1{
      color:#fff;
      text-align:center;
      margin-top: 8%;
      font-family:lato;
      letter-spacing:5px;
      font-weight:bold;
      font-size:65px;
      text-transform: uppercase;

}

body{
      background:darkorange;

}

wrapper{
      position:relative;
      color:#fff;
      text-align: center;
      margin:0 auto;
      display:block;
      width:100%;
      height:240px;
}


.line-area{
      display: block;
      width:70%;
      height:5px;
      background:#262626;
      position: absolute;
      top:49%;
      left:15%;

}
.wrapper .timeline-area {
   height: 100%;   
}

.single-item{
      width: 6%;
      display:inline-block;
      position:relative;
      height: 100%;
      margin-right:70px;
      transition: width .5s;
      z-index:1;
}